<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <!-- plugins -->
    <link rel="stylesheet" href="../public/css/font-awesome.css" />
    <link rel="stylesheet" href="../public/css/simple-line-icons.css" />
    <link rel="stylesheet" href="../public/css/animate.min.css" />
    <link rel="stylesheet" href="../public/css/jquery.toast.css" />
    <link href="../public/css/style.css" rel="stylesheet">
    <!-- cut for viewstudent -->

    <!-- end: Css -->

    <!--  <link rel="shortcut icon" href="asset/img/logomi.png"> -->

</head>

<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <!--  <a href="index.html" class="navbar-brand">
               <b>My-School-Management</b>
           </a> -->
                <center class="navbar-brand">
                    <b>My-School-Management</b>
                </center>

                <!-- <ul class="nav navbar-nav search-nav">
                <li>
                    <div class="search">
                        <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                        <div class="form-group form-animate-text">
                            <input type="text" class="form-text" required>
                            <span class="bar"></span>
                            <label class="label-search">Type anywhere to <b>Search</b> </label>
                        </div>
                    </div>
                </li>
            </ul> -->

                <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="user-name"><span>Kajiva Kinsley</span></li>
                    <li class="dropdown avatar-dropdown">
                        <!-- <img src="asset/img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" /> -->
                        <ul class="dropdown-menu user-dropdown">
                            <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
                            <li><a href="#"><span class="fa fa-calendar"></span> My Calendar</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="more">
                                <ul>
                                    <li><a href=""><span class="fa fa-cogs"></span></a></li>
                                    <li><a href=""><span class="fa fa-lock"></span></a></li>
                                    <li><a href=""><span class="fa fa-power-off "></span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- end: Header -->

    <div class="container-fluid mimin-wrapper ">

        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li>
                        <div style="display: none;" class="left-bg"></div>
                    </li>
                    <li class="time">
                        <center>
                            <h3 id="currentTime" class="animated fadeInLeft">21:00</h3>
                        </center>
                        <p id="currentDate" class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header"><span class="fa-user fa"></span> Students 
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                    </a>
                        <ul class="nav nav-list tree">
                            <li>
                                <a onclick="javascript::void(0);" href="dashboard-v1.html"> <span class="fa-plus fa"></span> New Student</a>
                            </li>
                            <li><a href="dashboard-v2.html"><span class="fa-list fa" ></span>View Students</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-diamond fa"></span> Layout
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="topnav.html">Top Navigation</a></li>
                            <li><a href="boxed.html">Boxed</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa-area-chart fa"></span> Charts
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="chartjs.html">ChartJs</a></li>
                            <li><a href="morris.html">Morris</a></li>
                            <li><a href="flot.html">Flot</a></li>
                            <li><a href="sparkline.html">SparkLine</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a class="tree-toggle nav-header">
                            <span class="fa fa-pencil-square"></span> Ui Elements <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="buttons.html">Buttons</a></li>
                            <li><a href="media.html">Media</a></li>
                            <li><a href="panels.html">Panels & Tabs</a></li>
                            <li><a href="notifications.html">Notifications & Tooltip</a></li>
                            <li><a href="badges.html">Badges & Label</a></li>
                            <li><a href="progress.html">Progress</a></li>
                            <li><a href="sliders.html">Sliders</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="modal.html">Modals</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-check-square-o"></span> Forms  <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="formelement.html">Form Element</a></li>
                            <li><a href="#">Wizard</a></li>
                            <li><a href="#">File Upload</a></li>
                            <li><a href="#">Text Editor</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-table"></span> Tables  <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="datatables.html">Data Tables</a></li>
                            <li><a href="handsontable.html">handsontable</a></li>
                            <li><a href="tablestatic.html">Static</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a href="calendar.html"><span class="fa fa-calendar-o"></span>Calendar</a></li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-envelope-o"></span> Mail <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="mail-box.html">Inbox</a></li>
                            <li><a href="compose-mail.html">Compose Mail</a></li>
                            <li><a href="view-mail.html">View Mail</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa fa-file-code-o"></span> Pages  <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="forgotpass.html">Forgot Password</a></li>
                            <li><a href="login.html">SignIn</a></li>
                            <li><a href="reg.html">SignUp</a></li>
                            <li><a href="article-v1.html">Article v1</a></li>
                            <li><a href="search-v1.html">Search Result v1</a></li>
                            <li><a href="productgrid.html">Product Grid</a></li>
                            <li><a href="profile-v1.html">Profile v1</a></li>
                            <li><a href="invoice-v1.html">Invoice v1</a></li>
                        </ul>
                    </li>
                    <li class="ripple"><a class="tree-toggle nav-header"><span class="fa "></span> MultiLevel  <span class="fa-angle-right fa right-arrow text-right"></span> </a>
                        <ul class="nav nav-list tree">
                            <li><a href="view-mail.html">Level 1</a></li>
                            <li><a href="view-mail.html">Level 1</a></li>
                            <li class="ripple">
                                <a class="sub-tree-toggle nav-header">
                                    <span class="fa fa-envelope-o"></span> Level 1
                                    <span class="fa-angle-right fa right-arrow text-right"></span>
                                </a>
                                <ul class="nav nav-list sub-tree">
                                    <li><a href="mail-box.html">Level 2</a></li>
                                    <li><a href="compose-mail.html">Level 2</a></li>
                                    <li><a href="view-mail.html">Level 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="credits.html">Credits</a></li>
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->

        <!-- start: Content -->

        <div id="content">
            <!--    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#flipFlop">
     Click Me
     </button>

     The modal
     <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
     <div class="modal-content">
     <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="modalLabel">Modal Title</h4>
     </div>
     <div class="modal-body">
     Modal content...
     </div>
     <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
     </div>
     </div>
 </div> -->

            <div  id="viewRecordContainer" style="display: none;">
                <div>
                    <div class="panel box-shadow-none content-header">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <button id="btnViewInFoBacktoListView" class=" animated fadeInLeft btn btn-round btn-primary">
                                    <span class="fa fa-arrow-left"></span> Back </button>
                                <h3 class="animated fadeInLeft">Student In View</h3>
                                <p class="animated fadeInDown">
                                    Student Registration Number <span class="fa-angle-right fa"></span> <u><strong class="text-primary" id="editStudentRegNumberView">cx121211</strong></u> &nbsp;&nbsp;&nbsp; Registered on
                                    <label class="text-primary" id="showRegDate"> 12/12/12111</label>
                                    &nbsp;&nbsp;&nbsp; Class <u><label class="text-primary" id="showClass"> 12/12/12111</label> </u>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 typography padding-0">
                        <div class="col-md-12">

                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h3> <span  class="fa fa-user "></span> Student Information </h3>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6"><strong>Full Name</strong>
                                                <br>
                                                <label id="showFullName">Kajiva sde</label>
                                            </div>
                                            <div class="col-md-6"> <strong>Age </strong>
                                                <br>
                                                <label id="ageShow">12 years</label>
                                                <br>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6"> <strong>Date of Birth </strong>
                                                <br>
                                                <label id="dobShow">12/12/1111</label>
                                                <br>
                                            </div>
                                            <div class="col-md-6"><strong>Gender</strong>
                                                <br>
                                                <label id="genderShow">MAle</label>
                                                <br>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6"> <strong> Cell Number</strong>
                                                <br>
                                                <label id="showCellNumber"> 00323 2732</label>
                                                <br> </div>
                                            <div class="col-md-6"> <strong>Address </strong>
                                                <br>
                                                <label id="showAddress">xxx xxx xxx</label>
                                                <br>
                                            </div>
                                        </div>
                                        <hr> <strong>Email</strong>
                                        <br>
                                        <a id="showEmail" href="mailto:#">
                                            first.last@email.com
                                        </a>
                                        <br>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-body">
                                        <h3> <span class="fa  fa-user"></span> Guardians Information </h3>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6"><strong>Full Name</strong>
                                                <br>
                                                <label id="GshowFullName">Kajiva sde</label>
                                            </div>
                                            <div class="col-md-6">
                                                <strong>ID Number </strong>
                                                <br>
                                                <label id="GshowIdNumber">122112 12121</label>
                                                <br>
                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6"> <strong> Cell Number</strong>
                                                <br>
                                                <label id="GshowCellNumber"> 00323 2732</label>
                                                <br> </div>
                                            <div class="col-md-6"> <strong>Address </strong>
                                                <br>
                                                <label id="GshowAddress">xxx xxx xxx</label>
                                                <br>
                                            </div>
                                        </div>
                                        <hr>

                                        <strong>Email</strong>
                                        <br>
                                        <a id="GshowEmail" href="mailto:#">
                                                        first.last@email.com
                                                    </a>
                                        <br>

                                        <br>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="editStudentContainer" style="display: none;">
                <div class="panel box-shadow-none content-header">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button onclick="EditBacktoListView()" id="btnEditBacktoListView" class=" animated fadeInLeft btn btn-round btn-primary" >
                            <span class="fa fa-arrow-left"></span> Back
                            </button>
                            <h3 class="animated fadeInLeft">Edit Student Details</h3>
                            <p class="animated fadeInDown">
                                Student Registration Number <span class="fa-angle-right fa"></span> <u><strong id="editStudentRegNumberView"></strong></u>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- start of form -->

                <div class="col-md-10">
                    <!-- done Process start -->
                    <div class="col-md-6" id="newStuden_NotificationPanel" style="display: none;">
                        <div class="alert alert-success col-md-12 col-sm-12  alert-icon alert-dismissible fade in" role="alert">
                            <div class="col-md-2 col-sm-2 icon-wrapper text-center">
                                <span class="fa fa-check fa-2x"></span></div>
                            <div class="col-md-10 col-sm-10">
                                <!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> -->
                                <p><strong>Success!</strong> Student Record Updated.</p>
                                <center>
                                    <button onclick="aftertEditBacktoListView()" class=" animated fadeInLeft btn btn-round btn-default" /> <span class="fa fa-arrow-left"></span> Go Back
                                </center>
                            </div>
                        </div>
                    </div>

                    <!-- End of Done Process -->
                    <div class="col-md-12 panel" id="formPanel">
                        <div class="col-md-12 panel-heading">

                            <h4 id="formHeadingDetails">Student Details</h4>

                        </div>
                        <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                            <div class="col-md-12">
                                <form class="cmxform" id="addNewStudentForm" onsubmit="return false;">
                                    <div id="studentDetailsSection">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" id="divinputClassLevel" style="margin-top:40px !important;">

                                                <input type="number" max="7" min="1" onkeypress="return isInRange(this)" maxlength="1" class="form-text" id="inputClassLevel" step="1" required>
                                                <span class="bar"></span>
                                                <label>Class/Grade Level</label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">

                                                <input type="text" class="form-text" id="inputClass" required>
                                                <span class="bar"></span>
                                                <label> <span class="fa fa-calendar"></span> Class</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" id="divinputFirstname" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="inputFirstname" required>
                                                <span class="bar"></span>
                                                <label>Firstname </label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text validate" id="divinputSurname" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="inputSurname" required>
                                                <span class="bar"></span>
                                                <label>Surname </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text " id="divinputGender" style="margin-top:40px !important;">
                                                <select type="email" class="form-text" id="inputGender" required>
                                                    <option value="null" selected>Choose...</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                </select>
                                                <span class="bar"></span>
                                                <label>Gender</label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" id="divinputDobr" style="margin-top:40px !important;">
                                                <input type="tel" class="form-text mask-date" id="inputDob" required>
                                                <span class="bar"></span>
                                                <label for="inputDob">Date Of Birth(dd/MM/YYYY) </label>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" id="divinputEmail" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="inputEmail" required>
                                                <span class="bar"></span>
                                                <label>Email Address</label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="tel" class="form-text" id="inputPhoneNumber" required>
                                                <span class="bar"></span>
                                                <label>Phone Number</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">

                                                <input type="text" class="form-text" required id="inputAddress">
                                                <span class="bar"></span>
                                                <label>Physical Address</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gardianDetailsSection" style="display: none;">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="GinputFirstname" required>
                                                <span class="bar"></span>
                                                <label>Firstname </label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="GinputSurname" required>
                                                <span class="bar"></span>
                                                <label>Surname </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="GinputID" required>
                                                <span class="bar"></span>
                                                <label>National Id Number </label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="text" class="form-text" id="GinputAddress" required>
                                                <span class="bar"></span>
                                                <label>Physical Address </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="email" class="form-text" id="GinputEmail" required>
                                                <span class="bar"></span>
                                                <label>Email Address</label>
                                            </div>
                                            <div class="form-group col-md-6 form-animate-text" style="margin-top:40px !important;">
                                                <input type="tel" class="form-text" id="GinputPhoneNumber" required>
                                                <span class="bar"></span>
                                                <label>Phone Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- panoo -->

                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <!--  <div class="form-group form-animate-checkbox">
         <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
         <label>Please agree to our policy</label>
     </div> -->
                                        <input id="btnEditNextStudentData" class="submit btn  btn-round btn-info" type="button" value="Next">
                                        <label id="orJustsaveTxt"> Or </label>
                                        <input id="btnEditJustSaveStudentData" class="submit btn  btn-round btn-info" type="button" value="Just Save">
                                        <input id="btnEditPrevStudentData" style="display: none;" class="submit btn  btn-round btn-default" type="button" value="Previous">
                                        <input id="btnEditSaveStudentData" style="display: none;" type="button" class=" btn btn-round btn-primary" value="Save Changes" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of form -->

            </div>

            <div id="tableViewContainer">
                <div class="panel box-shadow-none content-header">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <h3 class="animated fadeInLeft">List of Students Details</h3>
                            <p class="animated fadeInDown">
                                Students <span class="fa-angle-right fa"></span> View Students
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 top-20 padding-0">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="row" style="margin: 10px 5px;">
                                    <div class="col-md-2">
                                        <div class="input-group">

                                            <label for="searchtxt">Search Options </label>

                                            <select>
                                                <option>Delete</option>
                                                <option>Ignore</option>
                                                <option>Cancel</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <label for="searchGradeLevel">Grade Level</label>
                                            <select onchange="filterByGrade()" id="searchGradeLevel" class="form-control">
                                                <option value="null" selected>Choose...</option>
                                                <option value="1">Grade Level 1</option>
                                                <option value="2">Grade Level 2</option>
                                                <option value="3">Grade Level 3</option>
                                                <option value="4">Grade Level 4</option>
                                                <option value="5">Grade Level 5</option>
                                                <option value="6">Grade Level 6</option>
                                                <option value="7">Grade Level 7</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="searchtxt">Name , Surname , RegNumber </label>
                                        <div class="input-group">
                                            <span style="cursor: pointer;" class="input-group-addon"><span class="fa fa-close fa"></span> </span>

                                            <input type="text" class="form-control" aria-label="Text input with multiple buttons">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-info" aria-label="Help"><span class="glyphicon glyphicon-search"></span></button>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                                <hr>
                                <div class="responsive-table">

                                    <table id="showingTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="custom-control-input" name="checkbox1" id="selectAll" />
                                                </th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Surname</th>
                                                <th>Gender</th>
                                                <th>D.O.B</th>
                                                <th>Class</th>
                                                <th>Admission Date</th>
                                                <th>
                                                    <center> Action </center>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="showList">

                                            <tr id="loadingRoweFetch">
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                                <td>
                                                    <center><img id="viewStudentsSpinner" src="../public/images/spinner.gif"></center>
                                                </td>
                                            </tr>
                                            <tr id="noRecordFoundRow" style="display: none;">
                                                <td>
                                                    <center>
                                                        <label style="color: red;">--</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">No Record Found!</label>
                                                    </center>
                                                </td>
                                                <td>
                                                    <center>
                                                        <label style="color: red;">--</label>
                                                    </center>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6" style="padding-top:20px;">
                                    <div class="col-md-6">

                                        <button class="btn ripple btn-3d btn-danger"> <span class="fa fa-remove fa"></span> Delete Selected Rows</button>

                                    </div>
                                    <span>showing 0-10 of 30 items</span>

                                </div>
                                <div class="col-md-6">
                                    <ul class="pagination pull-right">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end: content -->

        <!-- start: right menu -->

        <!-- end: right menu -->

    </div>

    <!-- start: Mobile -->

    <!-- end: Mobile -->

    <!-- start: Javascript -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script type="text/javascript" src="../public/js/frameworks/jquery.js"></script>
    `
    <script type="text/javascript" src="../public/js/frameworks/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/frameworks/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../public/js/frameworks/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/js/frameworks/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../public/js/frameworks/jquery.toast.js"></script>
    <script type="text/javascript" src="../public/js/customes/MainQuery.js"></script>

    <!-- plugins -->

    <!-- Cascading grid layout library -->
    <script src="../public/js/frameworks/masonry.pkgd.min.js"></script>

    <!-- date and time pluin -->
    <script src="../public/js/frameworks/moment.min.js"></script>
    <!-- scrolling -->
    <script src="../public/js/frameworks/jquery.nicescroll.js"></script>
    <!-- custom -->
    <script src="../public/js/frameworks/main.js"></script>

    <script src="../public/js/frameworks/jquery.mask.min.js"></script>

    <script src="../public/js/customes/viewStudents.js"></script>

    <!-- end: Javascript -->
    <script>
        if (window.module) module = window.module;
    </script>
</body>

</html>