<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
   
    <title>Print</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css" />
    <link href="../public/css/style.css" rel="stylesheet">
    <!-- end: Css -->
</head>

<body id="mimin">

    <div class="container invoice invoice-v1">

        <nav class="navbar navbar-default header invoice-v1-tool container navbar-fixed-top">
            <div class="col-md-12 nav-wrapper">
                <div class="navbar-header" style="width:100%;">
                    <a href="/" onclick="return false;" class="navbar-brand">
                        <img style="width:50px;height:45px; margin-top:-10px;" src="../public/images/printer_128.png" class="invoice-logo"  />
                        <i class="fa fa-printer fa invoice-logo"></i>
                        <b>Invoice</b>
                    </a>

                    <ul class="nav navbar-nav navbar-right user-nav">
                        <li>
                            <button class="btn btn-round btn-primary" style="margin-top:10px;">Print</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- start: Content -->
        <div class="panel invoice-v1-content">
            <div class="panel-body">
                <div class="col-md-12 invoice-v1-header">
                    <div class="col-md-12">
                        <h1>
                            <b>INVOICE</b>
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <h4>
                            <address>
                                <strong>Invoice #: 123</strong>
                                <br> Created: July 28, 2014
                                <br> Due: July 28, 2015
                                <br>
                            </address>
                        </h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h4>
                            <address>
                                <strong>Miminium, Inc.</strong>
                                <br> 1234 Mimin Street, Suite 900
                                <br> Miminium City, CA 94103
                                <br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4>
                            <address>
                                <strong>AlfaMiminium Corp</strong>
                                <br> Akihiko Avaron
                                <br> akihiko.avaron@gmail.com
                                <br>
                            </address>
                        </h4>
                    </div>
                </div>
                <div class="col-md-12 padding-0">
                    <div class="responsive-table">

                        <table class="table table-striped">
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                            <tr>
                                <td>Jquery Plugin</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td>Javascript Linter</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <td>Mobile Designer</td>
                                <td>---</td>
                                <td>---</td>
                                <td>---</td>
                            </tr>
                            <tr>
                                <th colspan="3">Total</th>
                                <td>----</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: content -->
    </div>

    <!-- start: Javascript -->
    <script src="../public/js/frameworks/jquery.min.js"></script>
    <script src="../public/js/frameworks/jquery.ui.min.js"></script>
    <script src="../public/js/frameworks/bootstrap.min.js"></script>


    <!-- plugins -->
    <script src="../public/js/frameworks/moment.min.js"></script>
    <script src="../public/js/frameworks/jquery.nicescroll.js"></script>


    <!-- custom -->
    <script src="../public/js/frameworks/main.js"></script>
    <script type="text/javascript">
    </script>
    <!-- end: Javascript -->
</body>

</html>