 <div id="feesPaymentContainer">
                <div class="tabs-wrapper">
                    <div class="panel box-shadow-none text-left content-header">
                     <div class="panel-body" style="padding-bottom:0px;">
                        <div class="col-md-12">
                            <h3 class="animated fadeInLeft">Fees Payment</h3>
                          <p class="animated fadeInDown">
                             Fees <span class="fa-angle-right fa"></span> Pay Student Fees
                         </p>
                     </div>
                     <ul id="tabs-demo" class="nav nav-tabs content-header-tab" role="tablist" style="padding-top:10px;">
                        <li role="presentation" class="active">
                          <a href="#tabs-area-demo" id="tabs2" data-toggle="tab"> <i class="fa fa-credit-card"></i>  Pay Student Fees</a>
                      </li>
                      <li role="presentation" class="">
                          <a href="#panels-area-demo" id="tabs2" data-toggle="tab"> <i class="fa fa-cogs"></i> System Settings</a>
                      </li>
                  </ul>
              </div>

          </div>
          <div class="col-md-6" id="FeesSystem_NotificationPanel" style="display: none;">
            <div class="alert alert-success col-md-12 col-sm-12  alert-icon alert-dismissible fade in" role="alert">
                <div class="col-md-2 col-sm-2 icon-wrapper text-center">
                    <span class="fa fa-check fa-2x"></span></div>
                    <div class="col-md-10 col-sm-10">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <p><strong>Success!</strong> Data Saved.</p>
                        <center>
                            <button data-dismiss="alert" onclick="" class=" animated fadeInLeft btn btn-round btn-default" /> 
                            <span class="fa fa-close"></span> Close
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-md-12 tab-content">
               <!-- start of tab 1 -->
               <div role="tabpanel" class="tab-pane fade active in" id="tabs-area-demo" aria-labelledby="tabs1">
                <div class="col-md-12">

                </div>

            </div>
            <!-- end of tab 1 -->
            <!-- start of tab 2 -->
            <div role="tabpanel" class="tab-pane fade " id="tabs-area-demo" aria-labelledby="tabs2">
                <div class="col-md-12">

                </div>

            </div>
            <!-- end of tab 2 -->


        </div>

    </div>
</div>